<div class="row" style="margin-top:30px;">
  <div class="large-12 columns centered-text">
    <h2>ยินดีต้อนรับเข้าสูระบบ Yamaha School Administrator</h2>
  </div>  
</div>

<div class="row" style="margin-top:30px;">
  <div class="large-4 columns"> 
    <a href="#">
      <img src="/images/customizable.svg"> 
    </a> 
  </div>
  <div class="large-8 columns" style="margin-top:10px;">
    <form action="/login" method="POST">
      <div class="row">
        <div class="large-12">
          <h3 style="text-align:center;">Login</h3>
        </div>
      </div>
      <div class="row">
        <div class="large-10">
          <div class="row">
            <div class="small-3 columns">
              <label for="right-label" class="right inline">Email</label>
            </div>
            <div class="small-9 columns">
              <input name="username" type="text" id="right-label" placeholder="email" required>
               
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-10">
          <div class="row">
            <div class="small-3 columns">
              <label for="right-label" class="right inline">Password</label>
            </div>
            <div class="small-9 columns">
              <input name="password" type="password" id="right-label" placeholder="password" required>
            
            </div>
          </div>
        </div>
      </div>      

      <div class="row">
        <div class="large-10">
          <div class="row">
            <div class="small-3 columns">
              <label for="right-label" class="right inline"></label>
            </div>
            <div class="small-9 columns">
              <input type="hidden" name="_csrf" value="<%= _csrf %>" />
              <button type="submit">Login</button>
            </div>
          </div>
        </div>
      </div>
    </div>
 

  </form>
</div>