<script type="text/javascript" src="/js/say-cheese.js"></script>
<div class="row">
    <div class="large-12 columns">

      <h1>เพิ่มพนักงาน</h1>


      <form data-abide action="/employee/create" method="POST" enctype="multipart/form-data">
        <h4>ข้อมูลของพนักงาน</h4>
        
        <div class="row">
          <div class="large-6 columns">
            <div id="avt"></div>
            <div>
              <!-- <div id="take-snapshot" class="button">Snap</div> -->
            </div>
          </div>
          <div class="large-6 columns">
            <div id="avt_taked"></div>
          </div>
        </div>

        <div class="name-thai-field">
          <label>ชื่อ <small>required</small>
            <input name="first_name" type="text" required>
          </label>
          <small class="error">ชื่อพนักงาน</small>
        </div>

        <div class="name-thai-field">
          <label>นามสกุล <small>required</small>
            <input name="last_name" type="text" required>
          </label>
          <small class="error">นามสกุลพนักงาน</small>
        </div>

        <div class="name-thai-field">
          <label>ชื่อเล่น <small>required</small>
            <input name="nick_name" type="text" required>
          </label>
          <small class="error">ชื่อเล่น</small>
        </div>

        <div class="name-thai-field">
          <label>เลขที่บัตรประชาชน <small>required</small>
            <input name="thai_id_number" type="text" required>
          </label>
          <small class="error">กรุณาระบุเลขที่บัตรประชาชน</small>
        </div>


        <div class="name-thai-field">
          <label>ตำแหน่ง <small>required</small>
            <select name="position" id="" required>
              <option value="2">ผู้จัดการ</option>
              <option value="3">ผู้ช่วยผู้จัดการ</option>
              <option value="4">หัวหน้าธุรการ</option>
              <option value="5">ธุรการ</option>
            </select>
          </label>
          <small class="error">กรุณาระบุตำแหน่งของพนักงาน</small>
        </div>

        <div class="name-thai-field">
          <label>ไลน์ไอดี (Line ID)
            <input name="line_id" type="text">
          </label>
          <small class="error">กรุณาระบุเบอร์โทร</small>
        </div>

        <div class="name-thai-field">
          <label>เบอร์โทร <small>required</small>
            <input name="phone" type="text" required>
          </label>
          <small class="error">กรุณาระบุเบอร์โทร</small>
        </div>

        <div class="name-thai-field">
          <label>ที่อยู่
						<textarea  name="address"></textarea>
          </label>
          <small class="error">กรุณาระบุที่อยู่</small>
        </div>

        <div class="email-field">
          <label>อีเมล์ <small>required</small>
            <input name="email"  type="email" required>
          </label>
          <small class="error">กรุณาระบุอีเมล์.</small>
        </div>

        <div class="email-field">
          <label>รหัสผ่าน<small>required</small>
            <input id="password" name="password"  type="password" required>
          </label>
          <small class="error">กรุณาระบุรหัสผ่าน.</small>
        </div>

        <div class="email-field">
          <label>ยืนยันรหัสผ่าน<small>required</small>
            <input name="eq_password"  type="password" required data-equalto="password">
          </label>
          <small class="error">รหัสผ่านไม่ตรงกัน.</small>
        </div>
				<input type="hidden" name="sc_code" value="<%=sc_code%>">
        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        
        <button type="submit">Submit</button>
      </form>


    </div>
</div>

 <script>

    $(function() {
      var sayCheese = new SayCheese('#avt', { audio: false });
      sayCheese.on('start', function() {
        // this.takeSnapshot();
        $('#take-snapshot').on('click', function(evt) {
          sayCheese.takeSnapshot();
        });
      });

      sayCheese.on('snapshot', function(snapshot) {
        var img = document.createElement('img');
        var hidden_my_avatar = document.createElement('input');
        hidden_my_avatar.type = "hidden";
        hidden_my_avatar.name = "my_avatar";
        hidden_my_avatar.value = "";
        $(img).on('load', function() {
          $('#avt_taked').prepend(img);
          $('#avt_taked').prepend(hidden_my_avatar);
        });
        // hidden_my_avatar.value = snapshot.toDataURL('image/png');
        img.src = snapshot.toDataURL('image/png');
        hidden_my_avatar.value = img.src

      });

      // sayCheese.start();
    });
 </script>  
