<div class="row">
    <div class="large-12 columns">

      <h1>เพิ่มพนักงาน</h1>


      <form data-abide action="/employee/create" method="POST">
        <h4>ข้อมูลของพนักงาน</h4>

        <div class="name-thai-field">
          <label>ชื่อ <small>required</small>
            <input name="first_name" type="text" required>
          </label>
          <small class="error">ชื่อพนักงาน</small>
        </div>

        <div class="name-thai-field">
          <label>นามสกุล <small>required</small>
            <input name="last_name" type="text" required>
          </label>
          <small class="error">นามสกุลพนักงาน</small>
        </div>
        <div class="name-thai-field">
          <label>ตำแหน่ง <small>required</small>
            <input name="position" type="text" required>
          </label>
          <small class="error">กรุณาระบุตำแหน่งของพนักงาน</small>
        </div>

        <div class="name-thai-field">
          <label>เบอร์โทร <small>required</small>
            <input name="phone" type="text" required>
          </label>
          <small class="error">กรุณาระบุเบอร์โทร</small>
        </div>

        <div class="name-thai-field">
          <label>ที่อยู่ <small>required</small>
						<textarea  name="address" required></textarea>
          </label>
          <small class="error">กรุณาระบุที่อยู่</small>
        </div>

        <div class="email-field">
          <label>อีเมล์ <small>required</small>
            <input name="email"  type="email" required>
          </label>
          <small class="error">กรุณาระบุอีเมล์.</small>
        </div>

        <div class="email-field">
          <label>รหัสผ่าน<small>required</small>
            <input id="password" name="password"  type="password" required>
          </label>
          <small class="error">กรุณาระบุรหัสผ่าน.</small>
        </div>

        <div class="email-field">
          <label>ยืนยันรหัสผ่าน<small>required</small>
            <input name="eq_password"  type="password" required data-equalto="password">
          </label>
          <small class="error">รหัสผ่านไม่ตรงกัน.</small>
        </div>
				<input type="hidden" name="sc_code" value="<%=sc_code%>">

        <button type="submit">Submit</button>
      </form>


    </div>
</div>