<div class="row">
  <h1 id="switch">การจัดการอาจารย์ผู้สอน</h1>

  <div>
    <a href="/<%=sc_code%>/teacher/new" class="button">
      <i class="fi-plus"></i> New
    </a>
  </div>

  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>ชื่อ - นามสกุล</th>
        <th>พิมพ์บัตร</th>
        <th>Email</th>
        <th>วิชาที่สอน</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>

      <% _.each(schoolData, function(data){ %>

      

      <% }) %>

    </tbody>
  </table>

</div>