<section id="main-content">
  <div class="row">
    <div class="large-12 columns centered-text">
      <hr class="margin-bottom-40px">
      <h2>ยินดีต้อนรับเข้าสูระบบ Administrator</h2>
      <h4 class="subheader">Yamaha school management system</h4>
    </div>
  </div>
  <div class="row centered-text">
    <div class="medium-3 large-3 columns supporticons">
      <a href="/school">
        <img src="/images/customizable.svg">
        <h3>ระบบจัดการโรงเรียน</h3>
      </a>
    </div>
    <div class="medium-3 large-3 columns supporticons">
      <a href="/school">
        <img src="/images/training.svg">
        <h3>ระบบจัดการโรงเรียน</h3>
      </a>
    </div>
    <div class="medium-3 large-3 columns supporticons">
      <a href="/school">
        <img src="/images/customizable.svg">
        <h3>ระบบจัดการโรงเรียน</h3>
      </a>
    </div>
    <div class="medium-3 large-3 columns supporticons">
      <a href="/school">
        <img src="/images/training.svg">
        <h3>ระบบจัดการโรงเรียน</h3>
      </a>
    </div>
  </div>
</section>