<div class="row">
    <div class="large-12 columns">
			
			<h1>School Setup</h1>


			<form data-abide action="/schools/build" method="POST">
				<div class="row">
          <div class="large-6 columns">
            <label>
              <input type="radio" checked name="is_yamaha_school_network" id="" value="yes" >
              โรงเรียนในเครือยามาฮ่า
            </label>
          </div>
          <div class="large-6 columns">
             <label>
              <input type="radio" name="is_yamaha_school_network" id="" value="no">
              โรงเรียนนอกเครือยามาฮ่า
            </label>
          </div>
        </div>  

			  <div class="name-thai-field">
			    <label>ชื่อโรงเรียน ภาษาไทย <small>required</small>
			      <input name="school_name_th" type="text" required>
			    </label>
			    <small class="error">ชื่อระบุเป็นภาษาไทยเท่านั้น.</small>
			  </div>
			
			  <div class="name-thai-field">
			    <label>ชื่อโรงเรียน ภาษาอังกฤษ <small>required</small>
			      <input name="school_name_en"  type="text" required>
			    </label>
			    <small class="error">ชื่อระบุเป็นภาษาอังกฤษเท่านั้น.</small>
			  </div>
			  
			  <div class="phone-field">
		      <label>เขต
		        <input name="shool_zone"  type="text" required>
		      </label>
		      <small class="error">โปรดระบุเขต</small>
		    </div>

			  <div class="address-field">
		      <label>ที่อยู่
		        <textarea  name="shool_address" required></textarea>
		      </label>
		      <small class="error">โปรดระบุที่อยู่.</small>
		    </div>

			  <div class="phone-field">
		      <label>เบอร์โทรศัพท์
		        <input name="shool_phone"  type="text" required>
		      </label>
		      <small class="error">โปรดระบุที่เบอร์โทรศัพท์</small>
		    </div>
				
				<div class="phone-field">
		      <label>อีเมล์
		        <input name="shool_email"  type="text" >
		      </label>
		      <small class="error">โปรดระบุอีเมล์</small>
		    </div>

			  <div class="phone-field">
		      <label>แฟกซ์
		        <input name="shool_fax"  type="text" >
		      </label>
		      <small class="error">โปรดระบุที่เบอร์แฟกซ์</small>
		    </div>
	
				<div class="phone-field">
		      <label>วันที่เซ็นสัญญา
		        <input name="shool_licence"  type="text" required>
		      </label>
		      <small class="error">โปรดระบุวันที่เซ็นสัญญา</small>
		    </div>
				
				<div class="phone-field">
		      <label>วันที่เปิดดำเนินการ
		        <input name="shool_opening"  type="text" required>
		      </label>
		      <small class="error">โปรดระบุวันที่เปิดดำเนินการ</small>
		    </div>
			  <button type="submit">Submit</button>
			</form>


    </div>
</div>