<div class="row">
    <div class="large-12 columns">

      <h1>เพิ่มรายวิชา</h1>


      <form data-abide action="/course/create" method="POST">
        <h4>ข้อมูลของรายวิชา</h4>

        <% if(req.session.is_yamaha_school_network == 'yes'){  %>
        <div class="row">
          <div class="large-6 columns">
            <label>
              <input type="radio" name="is_yamaha_course" id="" value="yes" checked="true">
              Yamaha
            </label>
          </div>
          <div class="large-6 columns">
             <label>
              <input type="radio" name="is_yamaha_course" id="" value="no">
              Non Yamaha
            </label>
          </div>
        </div>  
        <% }  %>
        <div class="name-thai-field">
          <label>ชื่อ *<small>required</small>
            <input name="syllabus" type="text" required>
          </label>
          <small class="error">ชื่อวิชา</small>
        </div>

        <div class="name-thai-field">
          <label>คำอธิบาย
            <textarea name="discription" id="" cols="30" rows="10"></textarea>
          </label>
          <small class="error">คำอธิบายของรายวิชา</small>
        </div>
        
        <div class="name-thai-field">
          <label>อายุของนักเรียน
            <input name="course_age" type="number" >
          </label>
          <small class="error">อายุ</small>
        </div>
        
        <div class="name-thai-field">
          <label>เทอม
            <input name="course_term" type="text">
          </label>
          <small class="error">เทอม</small>
        </div>
        
        <% if(classroomData){%>
        <div class="name-thai-field">
          <label> ห้องเรียน
            <select name="classroom" id="">
              <% _.each(classroomData, function(cl_date){ %>
                <option value="<%= cl_date._id  %>"><%=cl_date.name%></option>
              <%  })  %>
              
            </select>
          </label>
          <small class="error">ห้องเรียน</small>
        </div>
        <% }  %>

        <div class="name-thai-field">
          <label>Lesson Charge <small>required</small></label>
          <br>
          <div id="add_lesson_course" class="button">+ Add Lesson course</div>
          <table id="lesson_charge">
            <tr>
              <th>
                Title
              </th>
              <th>
                Price
              </th>
              <th>
                BookStep
              </th>
              <th>
                
              </th>
            </tr>
            <tr>
              <td>
                <input type="text" name="course_title" placeholder="Beginer">
              </td>
              <td>
                <input type="text" name="course_price" placeholder="1800">
              </td>
              <td>
                <input type="text" name="course_bookstep" placeholder="1-3">
              </td>
              <td>
                <div class="remove_tr">X</div>
              </td>
            </tr>
          </table>
        </div>

        <div class="name-thai-field">
          <label>Maximum Student
            <input name="no_of_student" type="text">
          </label>
          <small class="error">No. of Student</small>
        </div>

        <div class="name-thai-field">
          <label>จำนวนนักเรียน / กลุ่ม
            <input name="groups" type="text">
          </label>
          <small class="error">กรุณาระบุ Group</small>
        </div>
 
        <input type="hidden" name="sc_code" value="<%=sc_code%>">
        <button type="submit">Submit</button>
      
      </form>


    </div>
</div>

<script>
 
  $("#add_lesson_course").click(function(){
    var tr_number  = $("#lesson_charge tr").length + 1;
    var tr_lesson = '<tr><td><input type="text" name="course_title" placeholder="Beginer"></td><td><input type="text" name="course_price" placeholder="1800"></td><td><input type="text" name="course_bookstep" placeholder="1-3"></td><td><div class="remove_tr">X</button></div></tr>'
    $("#lesson_charge").append(tr_lesson)

  });

  $(document).ready(function(){

      $("#lesson_charge").on( "click", ".remove_tr", function(){
        if($("#lesson_charge tr").length > 2 ){
          $(this).parent().parent().remove();
        }
      })  

  })
  

</script>








